@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular weight */
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: rgb(163, 158, 158);
}
